root_path: "/gpfs/bbp.cscs.ch/project/proj96/home/ecker/simulations/d21efd45-7740-4268-b06f-e1de35f2b6cf"

input_patterns_fname: "input_spikes/stimulus_stream__start2000__end126501__rate2__seed9.txt"
pattern_gids_fname: "input_spikes/Thalamocortical_input_VPM__hex_O1__supersample__nc100__pct12__seed9__pattern_gids.pkl"

h5_out:
    file_name: "assemblies.h5"
    prefixes:
        spikes: "spikes"
        average_spikes: "average_spikes"
        assemblies: "assemblies"
        consensus_assemblies: "consensus"
        average_assemblies: "average_assemblies"
        connectivity: "connectivity"
        single_cell_features: "single_cell"

root_fig_path: "/gpfs/bbp.cscs.ch/project/proj96/home/ecker/figures/v7_assemblies"

preprocessing_protocol:
    target: "hex_O1Excitatory"
    t_start: 1500
    t_end: 126000
    bin_size: 20
    threshold_rate: True

clustering:
    overwrite_n_clusters: {"seed1": 10, "seed47": 9, "seed54": 12, "seed63": 11, "seed80": 9, "seed99": 13}
    synapses:
        target_range: 10
        min_nsyns: 10
        n_neurons_sample: 10
